@charset "UTF-8";

@font-face {
    font-family: 'Hanken';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
}

:root {
    --corPri:#5E3FFC;
    --corPri2:#6854ff;
    --corCir1:#5B3DFB;
    --corCir2:#4C24CD;
    --corRec:#FF8086;
    --corMem:#F7BA4B;
    --corVer:#6BBCAD;
    --corVis:#3945A4;
    --corCon:#303B59;
    --gray: rgba(255, 255, 255, 0.623);
}

/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */

* {
    padding: 0;
    margin: 0;
    font-family: 'Hanken', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    display: flex;
    flex-direction: row;
}


main {
    width: 350px;
    margin: 0 auto;
}

section#blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    gap: 15px;
    
    background-image: linear-gradient(to top, var(--corPri), #4F37F5);
    color: white;
    border-radius: 0px 0px 30px 30px;
}

section#blue > h1 {
    font-size: 1em;
    font-weight: bolder;
    color: var(--gray);
}

div#circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--corCir2), var(--corCir1));
    width: 117px;
    height: 117px;
    border-radius: 50%;
}

#circle > span:nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
}

#circle > span:nth-child(2) {
    color: rgba(255, 255, 255, 0.350);
}

section#blue > p {
    color: var(--gray);
    font-size: clamp(14px, 1rem, 18px);
}

/* ------------------ S U M M A R Y ----------------------- */
section#summary {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 20px;
}

section#summary > h2 {
    font-weight: bolder;
    font-size: 1em;
    color: #303B59;
}

#summary > li {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#summary > li > ul {
    display: flex;
    justify-content: space-around;
    
    padding: 15px 0;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bolder;
}

ul > div:nth-child(1) {
    display: flex;
    gap: 7px;  
}

p.points > span:nth-child(1) {
    color: #303B59;
}

p.points > span:nth-child(2) {
    color: rgba(153, 142, 142, 0.623);
}

#contRea {
    background-color: rgba(255, 128, 134, 0.09);
    color: var(--corRec);
}

#contMem {
    background-color: rgba(247, 187, 75, 0.09);
    color: var(--corMem);
}

#contVer {
    background-color: rgb(107, 188, 173, 0.09);
    color: var(--corVer);
}

#contVis {
    background-color: rgb(56, 69, 163, 0.09);
    color: var(--corVis);
}

#summary > button {
    background-color: #303B59;
    color: white;
    padding: 15px 0;
    border-radius: 40px;
    border: none;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer  a {
    text-decoration-line: underline;
}
